$main: '#453AC7';
$red: #ff7979;
$keno: '#FB8C00';
$power: '#DC5134';
$success: '#1dd1a1';
$danger: '#ff6b6b';
$info: '#0abde3';
$black: '#454545';
$gray: '#BEC1C7';
$lon: '#1abc9c';
$chan: '#3498db';
$le: '#f1c40f';
$bg-color: '#f2f2f2';
$even-odd: #1b9c90;
$big-small: #4f5fb6;
$bg-number: #badcfe;
$bg-gray-color: #f2f2f2;
$bg-red-color: #fff1f1;
