@import './theme/';
$text-color: rgba(black, 0.9);
$gray-color: rgba(243, 244, 246, 1);
$sub-text-color: #f5517d;
$color-box-coutdown: #ffe9e7;
html {
  font-size: 62.5%;
  background-color: #f2f2f2;
}

body {
  font-size: 1.4rem;
  font-family: Roboto, sans-serif;
  color: $text-color;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  &-big-small {
    color: $big-small;
    border-color: $big-small;
  }
  &-even-odd {
    color: $even-odd;
    border-color: $even-odd;
  }
}

.bg {
  &-blue-color {
    background-color: $bg-number;
  }
  &-gray-color {
    background-color: $bg-gray-color;
  }
  &-red-color {
    background-color: $bg-red-color;
  }
}

.btn-red {
  background-color: $red;
}
.sub-text-color {
  color: $sub-text-color;
}
.box-coutdown {
  background-color: $color-box-coutdown;
}
.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.text-body {
  color: $text-color;
}
